.button{
    background:none;
    border:none;
    border-radius:calc($padding/2);
    font-size:$medium;
    font-family:$titlefont;
    padding:calc($padding/2) $padding;
    font-weight:bolder;
}

.button--primary{
    background:white;
}

.button--submit{
    background:$yellow;
    color:white;
}

.button--submit:focus{
    background:$yellow;
    color:white;
    outline-offset:0.2rem;
    outline:0.2rem solid $yellow;
}