.homepage__table-container {
	max-width: 80%;
	overflow-x: auto;
    margin:auto;


.homepage__table {
	min-width: 100%;
	margin: auto;
    overflow:hidden;
    overflow-x:scroll;

    th{
        background-color:$yellow;
        padding:$padding;
        font-weight:bolder;
    }

    td{
        padding:$padding;
        min-width:max-content;
    }
    tr:nth-child(even){
        background-color:#F5F5F5;
    }
}
}