.homepage__table-container {
	max-width: 80%;
	overflow-x: auto;
    margin:auto;


.homepage__table {
	min-width: 100%;
	margin: auto;
    overflow:hidden;
    overflow-x:scroll;

    th{
        background-color:$yellow;
        padding:$padding;
        font-weight:bolder;
        text-align:left;
        min-width:12rem;
    }

    td{
        padding:$padding;
        min-width:12rem;

    }
    tr:nth-child(even){
        background-color:#F5F5F5;
    }
}
}

@media screen and (min-width:1100px) {
    
    .homepage__table-container{
        max-width: calc(100% - 35rem);
        margin-bottom: 6.375rem;


        .homepage__table{
            margin: auto;
            overflow: hidden;
            overflow-x: hidden;
            overflow-x: scroll;
            width: calc(100% - 18rem);

            th{
                font-size: 1.25rem;
            }
    }
}

}