$yellow: #F9DE4E;
$black: #000000;
$lightblue: #7BB9FC50;
$grays : #737373;

$huge:4.25rem;
$largest: 4.063rem;
$biggest:3.75rem;
$bigger: 2.188rem;
$big: 1.875rem;
$mediumbig:1.563rem;
$medium: 1.25rem;
$medsmall:1.125rem;
$smalltext: 0.938rem;
$small: 0.875rem;
$tiny: 0.75rem;

$mainfont : Inter;
$titlefont: Roboto;

$padding : 1rem;