.hero__wrapper{
    display:flex;
    flex-direction:column-reverse;

    h1{
        font-size:calc($largest * 0.65);
        font-family:$mainfont;
        text-transform:uppercase;
        margin:0 calc($padding*2);
        font-weight:900;
    }

    h2{
        font-size:$biggest;
        font-style:normal;
        font-family:Inter;
        font-weight:900;
        text-transform:uppercase;
        margin:0 calc($padding*2);
    }
}

.hero__wrapper--upper{
        background-color:$yellow;
        padding-bottom:calc($padding * 2);
}

.hero__wrapper--lower{
    background-image:url('/images/hero__bottomShape.png');
    background-size:100%;
    background-repeat:no-repeat;
    background-position:bottom center;
}

@media screen and (min-width:820px){
    .hero__wrapper{
        flex-direction:row;
        justify-content:center;
        align-items:center;

        img{width:21rem}

        h2{ 
            font-family: Inter;
            font-weight: 900;
            font-size:$huge;
            text-transform: uppercase;
            margin: 1rem 12rem 0 4rem;
        }
    }

    .hero__wrapper--lower{
        background-size: 50%;
        background-position: bottom right;

        h2{ 
            font-family: Inter;
            font-weight: 900;
            font-size:$biggest;
            text-transform: uppercase;
            margin: 1rem 12rem 0 4rem;
        }
    }
    

}

@media screen and (min-width:1100px){
    .hero__wrapper{
        flex-direction:row;
        justify-content:center;
        align-items:center;

        img{width:46rem}

        h1{
            width: 44rem;
            font-size:$largest;
            font-family:inter;
            font-weight:900;
        }

        h2{ 
            font-family: Inter;
            font-weight: 900;
            text-transform: uppercase;
            margin: 1rem 12rem 0 4rem;
            font-size: 5rem;
            width: 34rem;
        }
    }

    .hero__wrapper--upper{
        height: 38.813rem;
    }

    .hero__wrapper--lower {
        background-size: auto 100%;
        background-position: bottom right;
    }
    

}