.hero__wrapper{
    display:flex;
    flex-direction:column-reverse;
    background-color:$yellow;

    h1{
        font-size:calc($largest * 0.65);
        font-family:$titlefont;
        font-weight:bolder;
        text-transform:uppercase;
        margin:0 calc($padding*2);
    }

    h2{
        font-size:calc($largest * 0.50);
        font-family:$titlefont;
        font-weight:bolder;
        text-transform:uppercase;
        margin:0 calc($padding*2);
    }
}

.hero__wrapper--lower{
    background-image:url('/images/hero__bottomShape.png');
    background-size:100%;
    background-repeat:no-repeat;
    background-position:bottom center;
}