header{
    background-color:$yellow;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    gap:$padding;
    padding:calc($padding * 2);
    padding-bottom:calc($padding * 5);
}

@media screen and (min-width:1000px){

    header{
        flex-direction:row;
        height:9rem;
        
    }

}