#root {
	display: flex;
	flex-direction: column;
    min-height: 100vh;
}

main{
    position:relative;
    font-family:inter;
    width:99dvw;
    padding-bottom:calc(2 * $padding);

    .project {
        position: absolute;
        right: 0;
        display:none;
       
    }

    .lightbulb {
        position: absolute;
        left: 0;
        display:none;

    }

}

main::before{
content:" ";
width:100%;
height:$padding;
top:-$padding;
display:block;
position:absolute;
background-image:url('/images/background__shape.png');
background-size:80%;
background-repeat:no-repeat;
background-position:bottom center;
}

h2{
    width:80%;
    margin:auto;
    font-size:2rem;
    font-weight:900;
    font-family:$mainfont;
}

.title--decorated {
	position: relative;
	z-index: 1;
}

@media screen and (min-width:820px){

    main::before{

        height: 5rem;
        top: -4rem;

    }

    h2{
        font-size:$biggest;
        margin:calc($padding * 2) auto;
    }
    

    main{.project {
        position: absolute;
        right: 0;
        display:block;
    }

    .lightbulb {
        position: absolute;
        left: 0;
        display:block;
    }

}

.title--decorated::after {
	content: '';
	background-color: $yellow;
	height: 1.68rem;
	width: 17.5rem;
	display: block;
	left: 8rem;
	position: absolute;
	top: 2.3rem;
	z-index: -1;
}


}

@media screen and (min-width:1000px){
    h2{
    max-width: calc(100% - 35rem);
    font-weight:900;
    }
}

